<div class="modal-body">
    <div class="modal-header">
      <h2 class="modal-header-title">
        <i class="fa fa-info-circle"></i>
        <span class="p-l-1">Event Split Form</span>
      </h2>
  
      <a class="modal-header-close" id="eetp-split-form-closeBtn" ng-click="dismiss();">
        <i class="fa fa-remove"></i>
      </a>
    </div>
  
    <form class="form" name="event-editor-form" id="">
      <div class="modal-content" id="modal-modal-content">
        <div class="text-center">
          <input id="event-split-input" ng-model="model.splitForm.splitInput" style="margin-bottom: 15px; min-width: 165px; padding: 0 10px " ng-readonly="!model.splitForm.meta.isEditing" >
          <span> - </span>
          <a ng-if="!model.splitForm.meta.isEditing" ng-click="model.splitForm.meta.isEditing = true; model.splitForm.meta.tempVal = model.splitForm.splitInput" style="color:rgb(59, 112, 190);">Edit</a>
          <span ng-if="model.splitForm.meta.isEditing"><a ng-click="model.onTopBoxSave()" style="color:rgb(59, 112, 190);">Save</a> | <a ng-click="model.onTopBoxCancel()" style="color:rgb(201, 78, 78);">Cancel</a></span>

          <div style="margin-top: 10">
            <span id="event-split-category-left" ng-if="model.splitForm.meta.isSplittingLeft" style="float:left; font-size: 10px">{{model.splitForm.cateReaText}}</span>
            <span id="event-split-category-right" ng-if="!model.splitForm.meta.isSplittingLeft" style="float:right; font-size: 10px;">{{model.splitForm.cateReaText}}</span>
          </div>

          <input id="event-editor-table-split-slider" ng-init="model.enableSlider()" style="width:100%; margin-top: 10px" data-slider-id='ex1Slider' type="text"/>  

          <div>
            <span id="event-split-target-time" style="float:left; font-size: 10px">{{model.splitForm.targetTime}}</span>
            <span id="event-split-next-time" style="float:right; font-size: 10px">{{model.splitForm.nextTime}}</span>
          </div>

          <form action="" class="split-option-form">
            <input type="radio" name="split-options" ng-click="model.onSplitChange($event)" id="left" checked />
            <input type="radio" name="split-options" ng-click="model.onSplitChange($event)" id="right"/>
            <div class="split-option-switch">
              <label for="left">Split Left</label>
              <label for="right">Split Right</label>
              <span></span>
            </div>
          </form>
        </div>

        <div class="custom-separator" style="margin-top:30px"></div>

        <div class="button-wrapper" style="text-align:center; margin-top:30px">
          <button
            type="button"
            class="btn btn-danger"
            style="width:9rem"
            ng-click="dismiss()"
          >
            Cancel
          </button>
  
          <button
            type="button"
            class="btn btn-success"
            style="width:9rem"
            ng-click="model.onFormSave()"
          >
            <span style="font-size: 1.1em">{{model.splitForm.saveBtnMsg}}</span>
            <span style="font-size: 1.1em; color: #ffffff" ng-if="model.splitForm.meta.isSaving">
              <span class="fa fa-refresh fa-refresh-animate" 
              style="margin-right: 10px; margin-bottom: 2px"></span>
            </span>
          </button>

        </div>
      </div>
    </form>
  </div>
  